@{
    ViewData["Title"] = "Polityka Prywatności";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="page-container d-grid align-items-center justify-content-center">
    <h1 class="display-4 text-center mb-4">Polityka Prywatności</h1>

    <div class="privacy-policy-content p-4 rounded bg-white shadow-lg">
        <h2>1. Wstęp</h2>
        <p>
            Jesteśmy zobowiązani do ochrony prywatności naszych użytkowników. Ta polityka prywatności ma na celu poinformowanie Cię, jak przetwarzamy Twoje dane osobowe.
        </p>

        <h2>2. Dane osobowe</h2>
        <p>
            Możemy zbierać i przetwarzać następujące dane osobowe: ...
        </p>

        <h2>3. Jak używamy Twoich danych</h2>
        <p>
            Używamy zgromadzonych danych w celu: ...
        </p>

        <h2>4. Prawa i wybory</h2>
        <p>
            Masz pewne prawa w stosunku do swoich danych osobowych, które obejmują: ...
        </p>

        <h2>5. Zmiany w polityce prywatności</h2>
        <p>
            Możemy od czasu do czasu aktualizować naszą politykę prywatności. ...
        </p>

        <h2>6. Kontakt</h2>
        <p>
            Jeśli masz jakiekolwiek pytania odnośnie tej polityki prywatności, prosimy o kontakt: ...
        </p>
    </div>
</div>